body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace; /* Mono font */
    display: flex;
    line-height: 1.6;
}

.sidebar {
    width: 280px;
    height: 100vh;
    padding: 60px 40px;
    position: fixed;
    border-right: 1px solid #f0f0f0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 40px;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li { margin-bottom: 12px; }

.project-list a {
    text-decoration: none;
    color: #888;
    transition: 0.3s;
}

.project-list a:hover {
    color: #ff00ff; /* Magenta */
    padding-left: 5px;
}

.content {
    margin-left: 380px;
    padding: 60px;
    max-width: 850px;
}

.project { margin-bottom: 120px; }

.project h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    border-bottom: 1px solid #ff00ff; /* Magenta alt çizgi */
    padding-bottom: 5px;
    display: inline-block;
}

.project img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* About Bölümü Tasarımı */
.about-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.portrait-img {
    width: 200px !important;
    height: auto;
    filter: grayscale(100%);
}

.about-text p {
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 40px;
    border-top: 1px solid #eee;
    width: 200px;
    padding-top: 10px;
}
